.tableHead {
    position: sticky; // todo: doesn't seem to work
    top: 0px;
    z-index: 1;
}

.filters {
    margin: 10px;
    display: flex;
}

.filter {
    width: 300px;
    display: flex;
    flex-direction: column;

    span {
        margin-bottom: 10px;
    }
}